* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

/* Canvas */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.instructions {
    display: flex;
    margin-top: 2%;
    margin-left: 2%;
    font-size: 17px;
    position: absolute;
    z-index: 99;
    color: white;
}